# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/

# Virtual environment
venv/
env/
.venv/

# Editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# My custom files
config.json
